<!DOCTYPE html>
<html>
<head>
    <title>Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map { height: 100vh; }
    </style>
</head>
<body>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        var mapData = JSON.parse('{{ map_data|escapejs }}');
        var map = L.map('map').setView([48.8566, 2.3522], 6);
        
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        for (var i = 0; i < mapData.length; i++) {
            L.marker([mapData[i].latitude, mapData[i].longitude]).addTo(map);
        }
    </script>
</body>
</html>